<nav>
    <div class="logo"><img src="{{ asset('images/gp_explorer.png') }}"></div>
    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('all_voitures') }}">Voitures</a></li>
        <li><a href="{{ path('all_pilotes')}}">Pilotes</a></li>
    </ul>
</nav>