<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %}Bienvenue sur Garage GP{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    </head>
    <body>

        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}

    </body>
</html>
